.css-hip9hq-MuiPaper-root-MuiAppBar-root {
  background-color: transparent !important;
  margin-top: 20px;
}
.css-sghohy-MuiButtonBase-root-MuiButton-root {
  background-color: var(--secondaryColor) !important;
}
